{% extends 'includes/navbar.html' %}
{% load static %}

{% block meta %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/story8.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/story8.css' %}">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script type="text/javascript" src="https://kit.fontawesome.com/a076d05399.js"></script>

    <title>Story 8</title>
{% endblock meta %}

{% block content %}
    <div class="container-fluid bg-1">
        <section class="ftco-section" id="blog-section">
        <div class="container">
            <div class="container text-align center">
                <h1>BOOK SEARCH</h1>
                <p>Find the book that you want here!</p>
                <br>
            </div>
            <div class="search-bar">
                <input class="form-control" type="text" placeholder="Look for anything you like..." id="search-input" name="search">
            </div>
        
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="align-center">#</th>
                        <th scope="col" class="align-center">Cover</th>
                        <th scope="col" class="align-center">Title</th>
                        <th scope="col" class="align-center">Authors</th>
                        <th scope="col" class="align-center">Publisher</th>
                        <th scope="col" class="align-center">Published Date</th>
                    </tr>
                </thead>
                <tbody id="search-result"></tbody>
            </table>
        </div>
    </div>
    <script type = "text/javascript" src = "{% static 'js/story8.js' %}"></script>

{% endblock content%}
