{% extends 'includes/navbar.html' %}
{% load static %}

{% block meta %}
<title>Welcome!</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
{% endblock meta %}

{% block content %}
    <div class="container" style="margin-top: 2rem;">
        <h4>Are you sure want to delete {{ object_hapus.Nama_Peserta }} ?</h4>
    </div>

    <div class="container" style="margin-top: 2rem;">
        <form action="." method="POST">{% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Hapus" style="margin-right: 1rem;"/> 
            <a href="../" class="btn btn-primary">Cancel</a>
        </form>
    </div>

{% endblock content %}