{% extends 'includes/navbar.html' %}
{% load static %}

{% block meta %}
<title>Welcome!</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
{% endblock meta %}

{% block content %}
    <div class="container" style="margin-top: 10vh; margin-bottom: 20vh;">
        <h2 style="color: black;">Daftar Kegiatan dan Peserta</h2>
        <a type="button" class="btn btn-success" href="../../" style="margin-top: 2rem;">Home</a>
        <a type="button" class="btn btn-primary" href="../" style="margin-top: 2rem;">Tambah Kegiatan</a>
    </div>

    {% for x in kegiatan %}
        <div class="container">
            <table class="table table-bordered">
                <tr>
                    <td class='table-secondary'> <b> {{ x.Nama_Kegiatan }} </b> </td>
                </tr>
                <tr>
                    {% for y in peserta %}
                        {% if y.Ikut_Kegiatan == x %}
                        <tr>
                            <td> - {{ y.Nama_Peserta }} <a type="button" class="btn btn-outline-danger" href="{% url 'story6:hapus_nama' y.id %}">Hapus</a> </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tr>
            </table>
        </div>

        <div class="container text-center" style="margin-bottom: 3rem;"> 
            <a href="register/{{ x.id }}" class="text-white btn btn-primary mx-auto my-2 click">
                Register {{ x.Nama_Kegiatan }}
            </a>
        </div>
    {% endfor %}

    <div class="container" style="margin-bottom: 10rem;">
    </div>

{% endblock content %}