{% extends 'includes/navbar.html' %}
{% load static %}

{% block meta %}
<title>Welcome!</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
{% endblock meta %}

{% block content %}
    <div class="container" style="margin-top: 30vh;">
        <h2 style="color: black;">Tambah Kegiatan</h2>
    </div>

    <div class="container justify-content-center" style="margin-top: 20vh; margin-bottom: 10vh;">
        <form method="POST"> 
            {% csrf_token %}
            {{ form }}
            <h5 style="margin-top: 2rem;">* = Wajib Diisi</h5>
            <input style="margin-top: 2rem;" class="btn btn-primary" type="submit" value="Save" />
            <a type="button" class="btn btn-primary" href="hasil/" style="margin-top: 2rem; margin-left: 2rem;">Lihat Kegiatan dan Peserta</a>
            <a type="button" class="btn btn-success" href="../" style="margin-top: 2rem; margin-left: 2rem;">Home</a>
        </form>
    </div>

    <div class="container" style="margin-bottom: 10rem;">
    </div>

{% endblock content %}