html {
    padding: 3vw;
}
body {
    background-color: #FF7B00 !important;
}
* {
    box-sizing: border-box !important;
}
.photo-id{
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}
.desc {
    max-width: 655px;
}
h3.desc-title {
    text-align: center;
}
p.description {
    align-content: center;
    padding: 1vw;
}
.social {
    text-align: center;
    padding: 10px;
}
.linkedin, .instagram, .whatsapp {
    padding: 10px;
    width: auto;
    height: 95px;
}
footer {
    text-align: center;
    padding: 5vw;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}  
/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #ffaa00;
    color: black;
}
/* Style the back side */
.flip-card-back {
    background-color: #FFAA00;
    color: white;
    transform: rotateY(180deg);
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
} 
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media only screen and (max-height: 450px) {
    .sidenav {padding-top: 15px; width: 100%;}
    .sidenav a {font-size: 1.3em;}
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33% !important;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .row {
        flex-direction : column!important;
        align-items:center!important;
    }
    [class*="col-"] {
        width: 100% !important;
    }
    .col-4.flip-card {min-width: 60vw;}
    /* masih belum benar*/
    .col-4.photo img{width: 100% !important;}
    .photo-id {width: 100% !important;}
}
.col-8.bio {
    background-color: #FFAA00;
    background-size: contain;
    border-radius: 25px;
    padding: 25px;
}
td {
    vertical-align: top;
}
.col-3.ui, .col-3.sma43, .col-3.smpAI, .col-3.pemira, .col-3.bem, .col-3.openhouse {
    margin: auto;
    background-color: #FFAA00;
    background-size: contain;
    border-radius: 25px;
    padding: 25px;
    padding-bottom: 10%;
}
.carousel.slide {
    padding-top: 15px;
}
.w-100 {
    max-width: 100%;
}
.col-4.flip-card {
    margin: auto;
    padding-left: 1vw;
    padding-right: 1vw;
    min-width: 30vw;
    min-height: 40vh;

}

