{% extends 'includes/navbar.html' %}
{% load static %}

{% block meta %}
    <link rel="stylesheet" type="text/css" href='{% static "css/story7.css" %}'>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

    <title>Story 7</title>
{% endblock meta %}

{% block content %}
<p id="j-font">About Arya</p>
<div class="container">
    <div class="accordion-container">
        <div class="accordion shadow">
            <div class="accordion-header">
                <div class="accordion-header-left" id="activityButton">
                    <div class="accordion-title">
                        Aktivitas
                    </div>
                </div>
                <div class="accordion-buttons">
                    <div class="accordion-button-up">
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="accordion-button-down">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
            </div>
            <div class="accordion-body hidden" id="activityBody">
                <div class="activity-card-container">
                    <div>
                        <ul>
                            <li>ngoding</li>
                            <li>tidur</li>
                            <li>santui</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion shadow">
            <div class="accordion-header">
                <div class="accordion-header-left" id="experienceButton">
                    <div class="accordion-title">
                        Organisasi / Kepanitiaan
                    </div>
                </div>
                <div class="accordion-buttons">
                    <div class="accordion-button-up">
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="accordion-button-down">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
            </div>
            <div class="accordion-body hidden" id="experienceBody">
                <div class="activity-card-container">
                    <div>
                        <p>
                        <ul>
                            <li>PEMIRA IKM FASILKOM UI 2020</li>
                            <li>BEM FASILKOM UI 2020</li>
                            <li>OPEN HOUSE FASILKOM UI 2020</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion shadow">
            <div class="accordion-header">
                <div class="accordion-header-left" id="achievementButton">
                    <div class="accordion-title">
                        Prestasi
                    </div>
                </div>
                <div class="accordion-buttons">
                    <div class="accordion-button-up">
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="accordion-button-down">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
            </div>
            <div class="accordion-body hidden" id="achievementBody">
                <div class="activity-card-container">
                    <div id="nf-font">
                        <p>;-;</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion shadow">
            <div class="accordion-header">
                <div class="accordion-header-left" id="contactButton">
                    <div class="accordion-title">
                        Biodata
                    </div>
                </div>
                <div class="accordion-buttons">
                    <div class="accordion-button-up">
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="accordion-button-down">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
            </div>
            <div class="accordion-body hidden" id="contactBody">
                <div class="activity-card-container">
                    <div>
                        <ul>
                            <li>Nama: Arya Seputra Wibowo</li>
                            <li>Birthdate: 2 September2001</li>
                            <li>Hobby: ngoding, masak, tidur</li>
                            <li>Favourite Activity: tidur</li>
                            <li>Favourite Food: semua yang manis;)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    AOS.init();
    $('#activityButton').click(function () {
        $('#activityBody').toggleClass('hidden');
    })
    $('#experienceButton').click(function () {
        $('#experienceBody').toggleClass('hidden');
    })
    $('#achievementButton').click(function () {
        $('#achievementBody').toggleClass('hidden');
    })
    $('#contactButton').click(function () {
        $('#contactBody').toggleClass('hidden');
    })

    $('.accordion-button-up').click(function () {
        var thisAccordion = $(this).parent().parent().parent();
        thisAccordion.insertBefore(thisAccordion.prev());
    })

    $('.accordion-button-down').click(function () {
        var thisAccordion = $(this).parent().parent().parent();
        thisAccordion.insertAfter(thisAccordion.next());
    })
</script>


{% endblock content %}