{% extends 'includes/navbar.html' %}
{% load static %}

{% block meta %}
<title>Welcome!</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock meta %}

{% block content %}
<header>
    <h1>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>  
        <center>Jadwal Kuliah</center>
    </h1>
</header>

<form method="post">
    {% csrf_token %}
    {{ createMatkul.as_table }} <br>
    <input type="submit" value="Submit">
</form>

<table class="table table-dark table-striped">
<thead>
    <tr>
        <th scope="col">Mata Kuliah</th>
        <th scope="col">Dosen</th>
        <th scope="col">Jumlah SKS</th>
        <th scope="col">Deskripsi</th>
        <th scope="col">Semester</th>
    </tr>
</thead>
<tbody>
    {% for mat in matkul %}
        <tr>
            <th scope="row">{{mat.mataKuliah}}</th>
            <th>{{mat.dosenPengajar}}</th>
            <td>{{mat.jumlahSKS}}</td>
            <td>{{mat.deskripsi}}</td>
            <td>{{mat.semester}}</td>
            <td><a href="{% url 'story5:deleteJadwal' table_id=mat.id %}" class="btn btn-danger">Delete</a></td>
        </tr>
    {% endfor %}
</tbody>
</table>
{% endblock content %}