{% extends 'includes/navbar.html' %}
{% load static %}

{% block meta %}
<title>Welcome!</title>
{% endblock meta %}

{% block content %}
<header>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <h1 align="center">Get to know me!</h1>
</header>
<section id="my bio">
    <div class="row">
        <div class="col-4 photo">
            <center>
                <img src="{% static "MX12.jpg" %}" alt class="photo-id">
            </center>
        </div>
        <div class="col-8 bio">
            <h3 class="profile-bio">Biodata</h3>
            <table class="col-8 profile-table">
                <tbody>
                    <tr>
                        <td>Nama</td>
                        <td>: </td>
                        <td>Arya Seputra Wibowo</td>
                    </tr>
                    <tr>
                        <td>NPM</td>
                        <td>: </td>
                        <td>1906298771</td>
                    </tr>
                    <tr>
                        <td>Angkatan</td>
                        <td>: </td>
                        <td>2019</td>
                    </tr>
                    <tr>
                        <td>Jenis Kelamin</td>
                        <td>: </td>
                        <td>Laki - laki</td>
                    </tr>
                    <tr>
                        <td>Tempat Lahir</td>
                        <td>: </td>
                        <td>Jakarta</td>
                    </tr>
                    <tr>
                        <td>Tanggal Lahir</td>
                        <td>: </td>
                        <td>02 September 2001</td>
                    </tr>
                    <tr>
                        <td>Agama</td>
                        <td>: </td>
                        <td>Islam</td>
                    </tr>
                    <tr>
                        <td>Hobi</td>
                        <td>: </td>
                        <td>main, coding, dengerin musik</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<section id="study and exp">
    <div id="carouselControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h2 align="center">My Study</h2>
                <div class="row">
                    <div class="col-3 ui">
                        <div class="photo">
                            <img class="d-block w-100" src="{% static "fasilkomUI.png" %}" alt="UI"> 
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Universitas Indonesia</h5>
                            <p>2019 - Now</p>
                        </div>
                    </div>
                    <div class="col-3 sma43">
                        <div class="photo">
                            <img class="d-block w-100" src="{% static "sman43.png" %}" alt="SMAN 43 Jakarta">
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>SMAN 43 Jakarta</h5>
                            <p>2016 - 2019</p>
                        </div>
                    </div>
                    <div class="col-3 smpAI">
                        <div class="photo">
                            <img class="d-block w-100" src="{% static "adikIrmaFIX.png" %}" alt="SMP YPP Adik Irma">
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>SMP YPP Adik Irma</h5>
                            <p>2013 - 2016</p>
                        </div>   
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <h2 align="center">My Experience</h2>
                <div class="row">
                    <div class="col-3 pemira">
                        <div class="photo">
                            <img class="d-block w-100" src="{% static "pemiraFasilkom.png" %}" alt="Pemira Fasilkom UI"> 
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Pemilihan Raya IKM Fasilkom UI 2020</h5>
                            <h6>Project Officer</h6>
                            <p>Sept 2020 - Now</p>
                        </div>
                    </div>
                    <div class="col-3 bem">
                        <img class="d-block w-100" src="{% static "bemFasilkom.png" %}" alt="BEM Fasilkom">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>BEM Fasilkom UI 2020</h5>
                            <h6>Staff of Public Relation</h6>
                            <p>Feb 2020 - Now</p>
                        </div>
                    </div>
                    <div class="col-3 openhouse">
                        <img class="d-block w-100" src="{% static "openhouseFasilkom.png" %}" alt="Open House Fasilkom UI">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>OH Fasilkom UI 2020</h5>
                            <h6>Vice PIC of PR and Publication</h6>
                            <p>Aug 2020 - Now</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
{% endblock content %}