{% extends 'includes/navbar.html' %}
{% load static %}

{% block meta %}
<title>Welcome!</title>
{% endblock meta %}

{% block content %}
<header>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span><h1 align="center">My Project</h1>
</header>
<div class="row">
    <div class="col-4 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="{% static 'programming.png' %}" alt="Programming">
            </div>
            <div class="flip-card-back">
                <h1>Programming</h1>
                <p>Python</p>
                <p>Java</p>
                <p>Dart</p>
                <p>u name it, i'll code it</p>
            </div>
        </div>
    </div>
    <div class="col-4 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="{% static 'video-editing.png' %}" alt="Video Editing">
            </div>
            <div class="flip-card-back">
                <h1>Video Editing</h1>
                <p>Event Movie</p>
                <p>School Task</p>
                <p>Aftermovie</p>
                <p>accept tiktok video too</p>
            </div> 
        </div>
    </div>
    <div class="col-4 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="{% static 'public-relation.png' %}" alt="Public Relation">
            </div>
            <div class="flip-card-back">
                <h1>Public Relation</h1>
                <p>Sponsorship</p>
                <p>Publication</p>
                <p>MC</p>
                <p>we will make your party crash</p>
            </div>
        </div>
    </div>    
</div>
<div class="social">
    <h5>Any Project Ideas?</h5>
    <p>contact me at:</p>
    <a href='https://www.linkedin.com/in/arya-seputra-wibowo'>
        <img src="{% static 'linkedin.png'%}" alt class="linkedin">
    </a>
    <a href='https://www.instagram.com/aryaseputra1'>
        <img src="{% static 'instagram.png'%}" alt class="instagram">
    </a>
    <a href='https://api.whatsapp.com/send?phone=6281298583521'>
        <img src="{% static 'whatsapp.png'%}" alt class="whatsapp">
    </a>
</div>
{% endblock content %}