{% extends 'includes/navbar.html' %}
{% load static %}

{% block meta %}
<title>Welcome!</title>
{% endblock meta %}

{% block content %}
<header>
    <h1>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>  
        <center>Welcome to My Site!</center>
    </h1>
</header>
<div class="photo">
    <center>
        <img src="{% static "MX12.jpg" %}" alt class="photo-id">
    </center>
</div>
<center>
    <div class="desc">
        <h3 class="desc-title">Who am I?</h3>
        <p class="description" align="justify">
            Experienced Human Resources Development Officer with a demonstrated history
            of working in the entertainment industry. Skilled in Python (Programming Language),
            Human Resource Development, Human Resources, Java, and Programming. Strong human
            resources professional with a Bachelor's degree focused in Information System from
            University of Indonesia. 
        </p>
    </div>
    <h3 class="profile">Biodata</h3>
    <table class="table">
        <tbody>
            <tr>
                <td>Nama</td>
                <td>: </td>
                <td>Arya Seputra Wibowo</td>
            </tr>
            <tr>
                <td>NPM</td>
                <td>: </td>
                <td>1906298771</td>
            </tr>
            <tr>
                <td>Angkatan</td>
                <td>: </td>
                <td>2019</td>
            </tr>
            <tr>
                <td>Jenis Kelamin</td>
                <td>: </td>
                <td>Laki - laki</td>
            </tr>
            <tr>
                <td>Tempat Lahir</td>
                <td>: </td>
                <td>Jakarta</td>
            </tr>
            <tr>
                <td>Tanggal Lahir</td>
                <td>: </td>
                <td>02 September 2001</td>
            </tr>
            <tr>
                <td>Agama</td>
                <td>: </td>
                <td>Islam</td>
            </tr>
            <tr>
                <td>Hobi</td>
                <td>: </td>
                <td>main, coding, dengerin musik</td>
            </tr>
        </tbody>
    </table>
</center>
<div class="social">
    <p>Feel free to reach me at:</p>
    <a href='https://www.linkedin.com/in/arya-seputra-wibowo'>
        <img src="{% static 'linkedin.png'%}" alt class="linkedin">
    </a>
    <a href='https://www.instagram.com/aryaseputra1'>
        <img src="{% static 'instagram.png'%}" alt class="instagram">
    </a>
    <a href='https://api.whatsapp.com/send?phone=6281298583521'>
        <img src="{% static 'whatsapp.png'%}" alt class="whatsapp">
    </a>
</div>
{% endblock content %}