.topnav{
    background-color: #333;
    overflow: hidden;
    font-family: 'Arial', 'Times New Roman', sans-serif;

  }
  .topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Arial', 'Times New Roman', sans-serif;

  }
  .topnav a:hover{
    background-color: #ddd;
    color: black;
    font-family: 'Arial', 'Times New Roman', sans-serif;

  }
  .topnav a.active{
    background-color: lightcoral;
    color: white;
    font-family: 'Arial', 'Times New Roman', sans-serif;

  }




#nf-font {
    padding-left: 20px;
}

#j-font {
    font-family: 'Arial', 'Times New Roman', sans-serif;
    font-size: 4vw;
    text-align: center;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;

    transform: translate(-50%, -70%);
    font-family: serif, 'Times New Roman', sans-serif;
}

body {
    background: #FCF1F1;
    color: #000;
    font-family: 100% serif, 'Times New Roman', sans-serif;

    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#background-wrap {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
}


.container {
    margin: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.accordion {
    margin: 20px;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Ubuntu;
}

.accordion-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px 50px 20px 30px;
    background-color: #F0B7A4;
    font-family: serif, 'Times New Roman', sans-serif;

}

.accordion-header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.accordion-title {
    font-weight: 700;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    font-family: serif, 'Times New Roman', sans-serif;

}


.accordion-buttons {
    display: flex;
    flex-direction: row;
}

.accordion-buttons div {
    margin: 11px;
    border-radius: 15px;
    padding: 8px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: rgb(100, 100, 100);
    cursor: pointer;
}

.activity-card {
    width: 220px;
    height: 150px;
    box-shadow: 0 0px 20px rgba(85, 85, 85, 0.274);
    margin: 20px;
    padding: 20px;
    
}


.activity-card-container {
    width: max-content;
    display: flex;
    flex-direction: row;
}

.accordion-body {
    overflow-y: hidden;
    overflow-x: scroll;
    max-height: 250px;
    transition: max-height 1s;
    transition-timing-function: ease-in-out;
    font-family: serif, 'Times New Roman', sans-serif;

}


.shadow {
    box-shadow: 0 0px 20px rgba(85, 85, 85, 0.274);
}

.hidden {
    max-height: 0px;
    overflow-y: hidden;
}

.experience-container {
    display: block;
    flex-direction: column;

}


.center {
    text-align: center;
    padding: 10px;
}



.new-body {
    background-color: white !important;
}


